<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheet.css">
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/game_client.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">

</head>

<body>
  <div id="game-message-panel">
  </div>
  
  <div id="prize-card" class="card">
  </div>

  <div id="my-played-card" class="card">
  </div>

  <div id="opponent-played-card" class="card">
  </div><br/>

  <div id="player-hand">
  </div><br/>

</body>
</html>